<div class="container">
  <div class="flex">
    <h3>Posts List</h3>
    <div>
      <button class="btn btn-primary" routerLink="/postlist/add">
        Add Post
      </button>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <td>Id</td>
          <td>Title</td>
          <td>Description</td>
          <td>Actions</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let post of posts">
          <td>{{ post.id }}</td>
          <td>{{ post.title }}</td>
          <td>{{ post.description }}</td>
          <td>
            <button
              class="btn btn-primary mx-2"
              routerLink="/postlist/update/{{ post.id }}"
            >
              Edit
            </button>
            <button
              class="btn btn-info mx-2"
              routerLink="/postlist/details/{{ post.id }}"
            >
              Details
            </button>
            <button class="btn btn-warning" (click)="onDeletePost(post.id)">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
